
   
    <div class="list-group" style="border-radius: 0px; ">

    <a href="" class="list-group-item" style="border-radius: 0px; background: #f8f8f8 ">Login</a> 

     <a href="" class="list-group-item">My Account</a>

    <a href="/users/sign_up" class="list-group-item">Membership</a> 

     <%= link_to "Forgot your password?", new_password_path(resource_name), class: "list-group-item"  %>
 
  

 <%= link_to "  Cart summarry", cart_path, class: "list-group-item" %>

     <a href="" class="list-group-item">Wish List</a> <a href="" class="list-group-item">Order History</a> <a href="" class="list-group-item">Downloads</a><a href="" class="list-group-item">Recurring payments</a> <a href="" class="list-group-item">Returns</a> <a href="" class="list-group-item">Transactions</a> <a href="" class="list-group-item" style="border-radius: 0px">Newsletter</a>




