
<div class="col-xs-2">


  <div class="panel panel-success" style="border-radius: 0px">
  <div class="panel-heading">
    Summary
  </div>
  <div class="panel-body">
    <table style="width: 100%">

            <tr>
        
           <td> qty  &nbsp; : <%= @sub_total  %></td>

      </tr>


      <tr>
        
           <td > Total  : <%= number_to_currency @total %></td>

      </tr>
      
      <tr > 
       

        <td>

          <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal">Check Out</button>
      </td>
       <td> </td>
    </tr>
    
    </table>
  </div>
</div>
  

    
   



</div>








<!-- processing order -->



  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-md">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Order Number: <%= session[:order_id] * 2524 if session[:order_id].present? %> </h4>
        </div>
        <div class="modal-body">
          <p>Upon clicking submit, we shall send an invoice to your email address. Make payment using the link on the email address </p>
        </div>
        <div class="modal-footer">
          <!-- <button type="button" class="btn btn-default" >Close</button> -->
                  <button class="btn btn-success" type="submit" data-dismiss="modal" onclick="checkout('<%= session[:order_id]%>')"> submit</button>
        </div>
      </div>
      
    </div>
  </div>
  







<script type="text/javascript">
  function checkout(id){
   
    if (id == ""){
      return false
    }
    else{
      window.location.href = "order_items/checkout"
    }

  }


    function cancel_order(id){
   
    if (id == ""){
      return false
    }
    else{
      var r = confirm("are you sure you want to cancel this older?");
      if (r){
        window.location.href = "order_items/destroy_all?id=" +id
      }else{
        return false
      }
      
    }

  }


</script>